<form action="{% url 'edit' measurement.id %}" method="post">
  {% csrf_token %}
  <fieldset>
    <legend><h1>Medición {{ measurement.created_at }}</h1></legend>
    {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    <input type="number" name="weight" id="weight" min="0" value="{{ measurement.weight }}" />
    <label for="weight">Peso (Kg)</label><br />
    <input type="number" name="fat_percentage" id="fat_percentage" min="0" value="{{ measurement.fat_percentage }}" />
    <label for="fat_percentage">Porcentaje de grasa (%)</label><br />
    <input
      type="number"
      name="muscle_percentage"
      id="muscle_percentage"
      min="0"
      value="{{ measurement.muscle_percentage }}"
    />
    <label for="muscle_percentage">Porcentaje de músculo (%)</label><br />
    <input type="number" name="calories" id="calories" min="0" value="{{ measurement.calories }}" />
    <label for="calories">Calorias</label><br />
  </fieldset>
  <input type="submit" value="Guardar" />
</form>
